@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@import "./reset.scss";

@import "./variables.scss";

html {
    overflow-x: hidden;
}

body,
p,
div,
span {
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 20px;
}

h1,
h2,
h3 {
    font-weight: 700;
}

h4,
h5,
h6 {
    font-weight: 500;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 24px;
}
h5 {
    font-size: 21px;
}
.text__center {
    text-align: center;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

ul {
    padding: 0;
}
li {
    list-style: none;
}

.flex-col {
    flex-direction: column;
}

.pb-100 {
    padding-bottom: 100px;
}

.main__button {
    padding: 10px 35px;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    margin-top: 25px;
    font-weight: 700;
    border: none;
    background-color: $white;
}
.fluid__container {
    max-width: 1200px;
    margin: auto;
}
.heading {
    max-width: 1000px;
    margin: 0 auto 70px;
}

.mt-100 {
    margin-top: 100px;
}

.blue {
    color: $headingGreen;
    font-size: inherit;
}

.section__heading {
    font-size: 48px;
}

.divider {
    margin: 150px auto 30px;
}

input,
button,
textarea,
select {
    padding: 5px 0;
    font: inherit;
    border: none;
    border-bottom: 1px solid;
}

h1 {
    font-size: 46px;
}
/* Header */

header {
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;

    ul {
        display: flex;
        gap: 25px;
        margin-left: auto;

        li {
            a {
                color: $black;
                font-size: 14px;
                text-decoration: none;
            }
        }
    }

    .main__button {
        margin: 0;
        margin-left: 40px;
        background: $darkBlue;
        color: $white;

        img {
            filter: invert(100%);
        }
    }
}
/* Hero */

.hero {
    background: url("../images/hero-bg.png") center bottom no-repeat;
    background-size: cover;
    min-height: 95dvh;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 70px;

    .hero__wrapper {
        align-items: center;
        gap: 50px;
        color: $white;

        > * {
            flex: 1;
        }

        > img {
            rotate: -7deg;
        }

        .hero__wrapper__left {
            .hero__wrapper__left__numbers {
                gap: 50px;
                justify-content: center;
                text-align: center;
                margin-top: 70px;

                span {
                    font-size: 25px;
                    margin-bottom: 10px;
                    display: block;
                    font-weight: bold;
                }

                p {
                    font-size: 15px;
                }
            }
        }
    }
}

/* Logos */
.logos {
    h5 {
        margin-bottom: 70px;
    }
    .slider__logos {
        height: 150px;
        object-fit: contain;
    }
}

/* Vision Mission */

.mission {
    .mission__row__one {
        display: flex;
        gap: 10px;
        > * {
            flex: 1 1 100%;
            width: calc(50% - 10px);
        }
    }

    .blueBg {
        padding: 40px 80px;
        background-color: $darkBlue;
        color: $white;
        justify-content: center;
        height: 100%;
    }

    .mission__row__two {
        gap: 10px;
        margin-top: 10px;
        > * {
            flex: 1 1 100%;
        }

        > div:last-child {
            display: flex;
            gap: 10px;
            img {
                width: 100%;
            }
        }
    }
}

/* Our value */
.our__value {
    .our__value__row {
        gap: 50px;

        img {
            margin-bottom: 20px;
        }

        h4 {
            text-transform: uppercase;
            color: $darkBlue;
            font-weight: bold;
        }
        p {
            font-size: 16px;
        }
    }
}

/* About us*/

.about__us {
    background: #153756 url("../images/blueBg-vector.png") center center
        no-repeat;
    padding: 100px 0;
    background-size: contain;
    .about__us__wrapper {
        gap: 50px;
        color: $white;
        > div {
            flex: 1;
        }

        .about__us__wrapper__left {
            gap: 35px;
            align-items: center;
            position: relative;

            > img {
                position: absolute;

                &:first-child {
                    top: 0;
                    left: 0;
                }

                &:last-child {
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }
}

/* Work with us */

.work__with__us {
    .work__with__us__images {
        gap: 25px;
        justify-content: center;
        margin-bottom: 75px;
    }
    .work__with__us__usp {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
        > div {
            margin-bottom: 50px;
            width: calc(25% - 15px);

            > img {
                margin: 0 auto 30px;
            }
        }
    }
}

/* Products */

.products {
    .products__tabpanel {
        gap: 50px;
        text-align: center;
        margin-top: 50px;
        flex-wrap: wrap;
        justify-content: center;

        > div {
            width: calc(33% - 50px);
        }
        .products__tabpanel__product {
            position: relative;
            overflow: hidden;
            .products__tabpanel__product__overlay {
                position: absolute;
                border: 0.5px solid;
                inset: 0;
                padding: 15px;
                background: $white;
                transform: translateY(85%);
                transition: all 200ms ease-in;
                display: flex;
                flex-direction: column;

                h5 {
                    font-size: 18px;
                }
                p {
                    font-size: 16px;
                }
                ul {
                    font-size: 16px;
                    margin-top: 20px;
                    li {
                        display: flex;
                        padding-bottom: 10px;
                        border-bottom: 0.5px solid;
                        padding-top: 10px;

                        > span {
                            font-size: inherit;
                            text-align: left;
                            font-size: 14px;
                            &:first-child {
                                width: 150px;
                                color: $textGray;
                            }
                        }
                    }
                }

                button {
                    background-color: transparent;
                    border: none;
                    color: $darkBlue;
                    margin-top: auto;
                    font-weight: 700;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            &:hover {
                .products__tabpanel__product__overlay {
                    transform: translateY(0%);
                }
            }
        }
    }

    .react-tabs__tab-list {
        border: none;

        .react-tabs__tab {
            border: 0.5px solid $borderColor;
            border-radius: 0;
            padding: 14px 30px;

            &.react-tabs__tab--selected {
                background: $darkBlue;
                border: 0.5px solid $borderColor;
                color: $white;
                font-weight: 700;
            }
        }
    }
}

/* Our services */

.our__services {
    .our__services__list {
        gap: 50px;
        align-items: center;
        > * {
            flex: 1;
        }

        > ul {
            padding: 0;
            li {
                font-size: 21px;
                display: flex;
                align-items: center;
                gap: 15px;
                list-style: none;
                text-transform: uppercase;
                font-weight: 500;
                margin-bottom: 40px;
                padding: 15px;
                transition: all 400ms ease;

                &:hover {
                    background: #ffabab;
                    padding: 15px;
                    border-radius: 4px;
                    color: rgb(255, 91, 91);

                    svg {
                        g path {
                            fill: rgb(255, 91, 91);
                        }
                    }
                }
            }
        }
    }
}

/* Projects */

.projects {
    padding: 100px;
    background-image: url("../images/gray-vector-bg.png");
    background-color: $darkBlue;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: $white;

    .projects__wrapper {
        gap: 50px;
        align-items: center;
        > * {
            flex: 1;
            width: 50%;
        }
        .projects__wrapper__project {
            gap: 25px;
            align-items: center;
            margin-bottom: 40px;
            padding-bottom: 40px;
            border-bottom: 0.5px solid #ffffff;

            h5 {
                margin-bottom: 0;
            }
        }
    }
}

/* Articles */

.articles {
    .articles__posts {
        gap: 50px;
        flex-wrap: wrap;

        > article {
            width: calc(33% - 50px);

            &:first-child {
                width: calc(66% - 50px);
            }

            h6 {
                font-size: 16px;
                margin-top: 15px;
                margin-bottom: 5px;
                font-weight: bold;
            }
            p {
                font-size: 14px;
            }
        }
    }
}

/* Inquiry Form */

.inquiry__form {
    gap: 50px;
    margin-top: 100px;

    .inquiry__form__left {
        padding: 40px 60px;
        background-color: $darkBlue;
        color: $white;
        width: 45%;

        ul {
            margin-top: 50px;
            li {
                gap: 20px;
                margin-bottom: 50px;
            }
        }

        .inquiry__form__left__social {
            justify-content: space-between;
        }
    }
    .inquiry__form__formWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        width: 60%;

        label {
            margin-bottom: 15px;
            color: $textGray;
            font-size: 14px;
            font-weight: 700;
        }
        > div {
            width: calc(50% - 50px);
            display: flex;
            flex-direction: column;

            &.inquiry__form__formWrapper__message {
                width: 100%;
            }

            &.radio__group {
                > div {
                    display: flex;
                    gap: 20px;
                    align-items: center;

                    label {
                        display: flex;
                        gap: 10px;
                        font-size: 16px;
                        font-weight: 400;
                        color: $black;
                    }
                }
            }
        }

        button {
            background-color: $darkBlue;
            color: $white;
            padding: 10px 40px;
        }
    }
}
/* Footer */

footer {
    padding: 100px 75px;

    .footer__first__row {
        justify-content: space-between;
        align-items: start;

        > div:first-child {
            width: 50%;
            p {
                font-size: 16px;
                margin-top: 25px;
            }
        }

        > button {
            align-items: center;
            gap: 10px;
            padding: 10px 35px;
            background-color: $white;
            cursor: pointer;
            border: 1px solid $darkBlue;
            box-shadow: 0px 0px 9px #1c3a5745;

            img {
                rotate: -90deg;
            }
        }
    }

    .footer__second__row {
        margin-top: 50px;
        justify-content: space-between;
        ul {
            display: flex;
            li {
                a {
                    display: block;
                    color: $black;
                    padding: 0 25px;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 700;
                    border-right: 1px solid $darkBlue;
                }

                &:last-child {
                    a {
                        border: none;
                    }
                }
            }
        }
    }
}
